h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/*================ HEADER STYLES =================*/
.page-header .container {
  display: flex;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.page-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
}
.header-logo-part {
  color: #2e2f42;
}
.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}
.menu-item:last-child {
  margin-right: 332px;
}
.contacts {
  font-style: normal;
}
.contacts-list {
  display: flex;
  gap: 40px;
  align-items: baseline;
}
.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}
.menu-link:hover,
.menu-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
.header-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.menu {
  display: flex;
  gap: 40px;
}
/*================ /HEADER STYLES =================*/
/*================ MEIN SECTION ===================*/
.mein-block {
  height: 600px;
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}
.mein-block .mein-block-text {
  margin: auto;
  margin-bottom: 48px;
}
.mein-block-text {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  /* margin-bottom: 48px;*/
  margin-right: auto;
}
.mein-block-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background-color: #4d5ae5;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: auto;
}
.mein-block-button:hover,
.mein-block-button:focus {
  background-color: #404bbf;
}
/*================ /MEIN SECTION ===================*/
/*================ BENEFITS SECTION ================*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits {
  padding-top: 120px;
  padding-bottom: 120px;
}
.benefits-list {
  display: flex;
  gap: 24px;
}
.benefits-item {
  width: calc((100% - 3 * 24px) / 4);
}

.benefits-subject {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.benefits-content {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*================ /BENEFITS SECTION ================*/
/*================ EMPLOYEE SECTION =================*/
.employee {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.employee-list {
  background-color: #fff;
  text-align: center;
  border-radius: 0 0 4px 4px;
}
.employee-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}
.employee-text-container {
  padding-top: 32px;
  padding-bottom: 32px;
}
.employee-item {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.employee-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.employee-info {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
/*================ /EMPLOYEE SECTION =================*/
/*================ PORTFOLIO SECTION ==================*/
.portfolio,
.portfolio-list {
  background-color: #fff;
}
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-item {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-text-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-info {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*================ /PORTFOLIO SECTION =================*/
/*=================== FOOTER STYLES ==================*/
.footer-logo-part {
  color: #f4f4fd;
}
.footer-logo {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 16px;
}
.page-footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
/*=================== /FOOTER STYLES==================*/
